/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:visited {
	color: inherit;
}
/* end reset */

button {
	border: none;
	background: none;
	font-family: inherit;
}


/* if we must focus, style it */
*:focus {
  outline: 2px dashed var(--acct);
  outline-offset: 2px;
}

.js-focus-visible .focus-visible {
  outline: 2px dashed var(--acct);
  outline-offset: 2px;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
	but it will still show up on keyboard focus.
	polyfilled
*/
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}


:root {
	--spacer: calc(1% + 2.5px);
	--spacer-half: calc(var(--spacer) / 2);
	--spacer-double: calc(var(--spacer) * 2);
  --t1: 22px;
  --h1: 64px;
  --acct: rgba(255,175,102, 1);
  --acctHide: rgba(255,175,102, 0);
  --gray: rgba(69, 69, 69, 1);
	--gray-glass: rgba(69, 69, 69, 0.08); 
	--bg: #FCF3EB;
  --timing: cubic-bezier(0.165, 0.84, 0.44, 1);
  --border: 1px solid var(--gray);
	--btnHeight: 1.8rem;
	--pagewidth: initial;
}

::selection {
  background: var(--acct);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	box-sizing: border-box;	
	background-color: var(--bg);
	color: var(--gray);
	font-size: 18px;
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 400;
}

a {
	color: var(--acct);
	text-decoration: none;
}

h1 {
	font-size: calc(2.75vw + 1em);
	font-size: clamp(2.5rem, 4vw, 5rem);
  font-weight: 600;
	line-height: 1.3em;
	margin-bottom: .3em;
}

h1.shed {
	font-family: Shackleton, serif;
	margin-bottom: 1em;
}

h2 {
	font-size: calc(1vw + 1em);
	font-size: clamp(1.6rem, 1.8vw, 2.4rem);
  font-weight: 400;
	margin-bottom: 1em;
  line-height: 1.3em;
}

p {
  line-height: 1.6em;
}

.sc {
	font-family: 'Vollkorn SC', serif;
	font-variant-caps: small-caps;
	-moz-font-feature-settings: "smcp";
	-webkit-font-feature-settings: "smcp";
	font-feature-settings: "smcp";
	font-weight: 600;
	letter-spacing: .07em;
}

@media (min-width: 850px) {
  :root {
    --pagewidth: calc(100% - 250px);
	}
	
	body {
		font-size: 22px;
	}
}

@media (max-width: 850px) {
	:root {
		--btnHeight: 1.3em;
	}
}